<script lang="ts">
import { defineComponent, PropType } from 'vue';
import  CircleCheckbox  from '../form/CircleCheckbox.vue';
import TodoItemModel from '../../models/TodoItemModel';

export default defineComponent({
  name: 'TodoItemCard',
  components: {
    CircleCheckbox,
  },
  emits: {
    cardClick: (_: TodoItemModel) => true,
    checkboxChange: (_: TodoItemModel) => true,
  },
  props: {
    todoInfo: {
      type: Object as PropType<TodoItemModel>,
      required: true,
    }
  },
  methods: {
    handleCardClick(_: Event) {
      this.$emit('cardClick', this.todoInfo);
    },
    handleCheckboxChange(_: Event) {
      this.$emit('checkboxChange', this.todoInfo);
    },
  },
  computed: {
    dueFormattedString() {
      const due = this.todoInfo.due;
      if (due == null) {
        return "---";
      }
      const year = due.getFullYear();
      const month = String(due.getMonth() + 1).padStart(2, '0');
      const day = due.getDate();
      const hour = due.getHours();
      const minute = due.getMinutes();
      return `${year}年${month}月${day}日 ${hour}時${minute}分`;
    }
  }
})
</script>

<template>
  <li class="Card" @click.stop="handleCardClick">
      <circle-checkbox
        :id="`todo-checkbox-${todoInfo.id}`"
        class="Card_Checkbox_Col"
        v-model:checked="todoInfo.done"
        @change.stop="handleCheckboxChange"
        @click.stop
      />
    <div class="Card_TextCol">
      <p class="Card_TextCol_Subject">
        {{ todoInfo.subject }}
      </p>
      <div class="Card_TextCol_Due">
        <span class="material-icons-outlined vertical-middle">date_range</span>
        <span class="vertical-middle">{{ dueFormattedString }}</span>
      </div>
    </div>
  </li>
</template>

<style scoped>
.Card {
  display: flex;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0px 1px 4px 1px rgba(0,0,0, .25);
  padding: 8px;
  background-color: var(--color-card-bg);
}

.Card:hover {
  background-color: var(--color-card-hover-bg);
}

.Card_Checkbox_Col {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.Card_TextCol {
  margin-top: calc((32px - 1rem) / 2);
  margin-left: 8px;
}

.Card_TextCol_Subject {
  color: var(--color-text-primary);
  font-weight: bold;
}

.Card_TextCol_Due {
  margin-top: 8px;
  color: var(--color-text-secondary);
  font-size: 12px;
}

.vertical-middle {
  vertical-align: middle;
}
</style>
