:root {
  /** Color palette */
  --pale-purple: #fdf9fe;
  --rime-green: #26c09b;
  --dark-teal: #40677d;
  --sky-blue: #59a5ff;
  --gray-light: #e5e5e5;
  --gray-medium: #777;
  --gray-dark: #474747;

  /** Coloring by meaning */
  --color-bg: var(--pale-purple);
  --color-text-primary: var(--dark-teal);
  --color-text-secondary: var(--gray-medium);
  --color-todo-checkbox: var(--rime-green);
  --color-button-primary: var(--sky-blue);
  --color-card-bg: #fff;
  --color-card-hover-bg: #f6fcff;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-bg);
  font-family:
    "Noto Sans CJK JP",
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.material-icons, .material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
