<template>
  <div>
    <input
      type="checkbox"
      :id="id"
      :value="value"
      :checked="checked"
      :disabled="disabled"
      @change="handleChange"
    />
    <label :for="id" class="CircleCheckbox" :style="cssVars"></label>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, StyleValue } from 'vue';

export default defineComponent({
  name: 'CircleCheckbox',
  props: {
    id: {
      type: String,
      required: true,
    },
    value: {
      type: [String, Number, Array] as PropType<string | number | string[] | undefined>,
      default: '',
    },
    checked: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    boxColor: {
      type: String,
      default: undefined,
    },
  },
  emits: {
    'update:checked': (_: boolean) => true,
    change: (_: Event) => true,
  },
  methods: {
    handleChange(event: Event) {
      if (this.disabled) return;
      this.$emit('update:checked', event.target.checked);
      this.$emit('change', event);
    },
  },
  computed: {
    cssVars() {
      return this.boxColor == null ? {} :  {
        '--circle-checkbox-default-color': this.boxColor,
      } as StyleValue;
    },
  },
});
</script>

<style scoped>
.CircleCheckbox > input[type='checkbox'] {
  display: none;
}

.CircleCheckbox {
  --circle-checkbox-default-color: #26c09b;
  --circle-checkbox-default-color: var(--color-todo-checkbox);
  position: relative;
  display: block;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid var(--circle-checkbox-default-color);
  border-radius: 50%;
  width: 42px;
  height: 42px;

  transition: box-shadow 200ms;
}

.CircleCheckbox:hover {
  box-shadow: 0 0 1px 1px var(--circle-checkbox-default-color) inset;
}

.CircleCheckbox::before {
  position: absolute;
  cursor: pointer;
  font-family: 'Material Icons';
  content: '\e86c';
  color: var(--circle-checkbox-default-color);
  font-size: 48px;
  top: -5px;
  left: -5px;

  transform: scale(0) rotateZ(180deg);
  transition: all 400ms cubic-bezier(0.54, 0.01, 0, 1.30);
}

input[type='checkbox']:checked + .CircleCheckbox::before {
  transform: scale(1) rotateZ(0);
}
</style>
