<template>
  <div class="container">
    <circle-checkbox
      id="my-checkbox"
      value="test"
      v-model="currentValue"
      @change="handleChange"
    />
    <circle-checkbox
      id="my-checkbox2"
      value="test2"
      box-color="pink"
    />
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import CircleCheckbox from './CircleCheckbox.vue';

const currentValue = ref('');

const handleChange = (_: Event) => {
  console.log("currentValue: ", currentValue.value);
};

</script>

<style scoped>
.container {
  padding: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
