<script setup lang="ts">
import { computed, reactive } from 'vue';
import CircleCheckboxDemo from './components/form/CircleCheckboxDemo.vue';
import TodoItemCard from './components/app/TodoItemCard.vue';
import TodoItemModel from './models/TodoItemModel';

const todos = reactive(
  new Array<TodoItemModel>(
    {
      id: 1,
      subject: 'task 1',
      due: null,
      done: false,
    },
    {
      id: 2,
      subject: 'たすく たすく たすく たすく たすく たすく たすく たすく たすく たすく たすく',
      due: null,
      done: true,
    },
    {
      id: 3,
      subject: 'task 3',
      due: new Date(),
      done: false,
    },
    {
      id: 4,
      subject: 'task 4',
      due: new Date('2020-09-28T20:59:59+09:00'),
      done: false,
    }
  )
);

const handleCardClick = (t: TodoItemModel) => {
  console.log('card clicked:', t);
};

const handleCheckboxChange = (t: TodoItemModel) => {

  console.log('checkbox changed:', t);
};

const countCompleted = computed(() => todos.filter(e => e.done).length);
const countPending = computed(() => todos.length - countCompleted.value);
const countTotal = computed(() => todos.length);
</script>

<template>
  <div class="Container">
    <header class="Header">
      <h1 class="Header_Title">
        Todo App
      </h1>
      <div class="TodoSummary">
        <div class="TodoSummary_Completed">
          Completed × {{ countCompleted }}
        </div>
        <div class="TodoSummary_Pending">
          Pending × {{ countPending }}
        </div>
        <div class="TodoSummary_Total">
          Total × {{ countTotal }}
        </div>
      </div>
    </header>
    <ul class="TodoList">
      <todo-item-card
        v-for="t in todos"
        :key="`todo-${t.id}`"
        :todo-info="t"
        @card-click="handleCardClick"
        @checkbox-change="handleCheckboxChange"
      />
    </ul>
  </div>
  <circle-checkbox-demo />
</template>

<style scoped>
.Container {
  margin: 0 auto;
  padding: 12px;
  max-width: 720px;
}

.TodoList {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
}

.Header_Title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text-primary);
}

.TodoSummary {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1em;
  color: var(--color-text-secondary);
  margin: 12px 0 20px 0;
}

@media (max-width: 375px) {
  .TodoSummary {
    flex-direction: column;
  }
}
</style>
